    <span class="navbtn" onclick="openNav()">&#9776; Navigation</span>

    <div id="navbar" style="user-select: none;-webkit-user-drag: none" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/profile">Profile</a>
        <a href="/friends">Friends</a>
        <a href="/chats">Chats</a>
        <a href="/editProfile">Edit Profile</a>
        <a href="/logout">Logout</a>
    </div>