    <span class="navbtn" onclick="openNav()">&#9776; Navigation</span>

    <div id="navbar" style="user-select: none;-webkit-user-drag: none" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/profilePage">Profile</a>
        <a href="">Friends</a>
        <a href="">Chats</a>
        <a href="/editProfilePage">Edit Profile</a>
    </div>