body{
    padding-top: 25px;
    padding-bottom: 50px;
    background: #232931;
    font-family: sans-serif, Arial;
}

.card{
    background: #393e46;
    color: white;
    border-color: #4ecca3;
}

.container{
    padding-top: 30px;
}

.pageHeading h1{
    margin-left: 20px;
    text-decoration: underline;
}

.actionBtn input[type = "submit"]{
    background: none;
    display: block;
    text-align: center;
    border: 2px solid #4ecca3;
    padding: 10px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
}

.actionBtn input[type = "submit"]:hover{
    background: #4ecca3;
    text-decoration: none;
}

#contentCard{
    background: #232931;
}

#contentCard h3 {
    text-decoration: underline;
}

.removeBtn input[type = "submit"]{
    background: none;
    text-align: center;
    border: 2px solid #ce1616;
    padding: 10px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    display: inline-block;
    text-decoration: none !important;
    font-size: 15px;
}

.removeBtn input[type = "submit"]:hover{
    background: #ce1616;
    text-decoration: none;
}

.addBtn input[type = "text"]{
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid #4ecca3;
    padding: 14px 10px;
    width: 140px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    font-size: 13px;
}

.addBtn input[type = "text"]:focus{
    width: 160px;
    border-color: #4ecca3;
}

.sendForm input[type = "submit"]{
    background: none;
    text-align: center;
    border: 2px solid #4ecca3;
    padding: 10px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
}

.sendForm input[type = "submit"]:hover{
    background: #4ecca3;
    text-decoration: none;
}

.sendForm input[type = "text"]{
    background: none;
    text-align: center;
    border: 2px solid #4ecca3;
    padding: 14px 10px;
    width: 520px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    font-size: 14px;
}

.chatbox textarea{
    width: 660px;
    height: 380px;
    background: #232931;
    resize: none;
    color: white;
    white-space: pre-wrap;
}