body{
    padding-top: 25px;
    padding-bottom: 50px;
    background: #232931;
    font-family: sans-serif, Arial;
}

.card{
    background: #393e46;
    color: white;
    border-color: #4ecca3;
}

.container{
    padding-top: 30px;
}

.image-container {
    position: relative;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.edit-body input[type = "text"]{
    background: none;
    display: block;
    margin: 5px auto;
    text-align: center;
    border: 2px solid #232931;
    padding: 10px 6px;
    width: 280px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.edit-body input[type = "text"]:focus{
    width: 350px;
    border-color: #4ecca3;
}

.edit-body input[type = "submit"]{
    background: none;
    display: block;
    margin: 5px auto;
    margin-top: 25px;
    text-align: center;
    border: 2px solid #4ecca3;
    padding: 10px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    text-decoration: none;
}

.edit-body input[type = "submit"]:hover{
    background: #4ecca3;
    text-decoration: none;
}

.deleteAcc input[type = "submit"]{
    background: none;
    display: block;
    margin: 5px auto;
    margin-top: 130px;
    margin-left: 40px;
    text-align: center;
    border: 2px solid #ce1616;
    padding: 10px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    text-decoration: none;
}

.deleteAcc input[type = "submit"]:hover{
    background: #ce1616;
    text-decoration: none;
}