body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #232931;
}

.login-box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #393e46;
    text-align: center;
}

.login-box h1,.login-box h4{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    user-select: none;
}

.login-box input[type = "text"],.login-box input[type = "password"]{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #232931;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.login-box input[type = "text"]:focus,.login-box input[type = "password"]:focus{
    width: 280px;
    border-color: #4ecca3;
}

.login-box input[type = "submit"],.login-box a{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #4ecca3;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    text-decoration: none;
}

.login-box input[type = "submit"]:hover,.login-box a:hover{
    background: #4ecca3;
    text-decoration: none;
}