<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CeangalMessenger</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/editProfile.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>

    <%- include("partials/navbar") -%>


    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-body">
                        <div class="card-title mb-4">
                            <div class="d-flex justify-content-start">
                                <div class="image-container">
                                    <img src="file:///src/img/ExamplePicture.png" id="imgProfile" style="width: 200px; height: 200px" class="img-thumbnail" />
                                </div>
                                <div class="userData ml-3 mt-3">
                                    <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold; margin-left: 35px">Max Mustermann</h2>
                                </div>

                                <form class="deleteAcc" action="/deleteAccount" method="post">
                                    <div class="deleteBtn ml-6 mt-5 position-sticky">
                                        <input type="submit" name="" value="Delete Account">
                                    </div>
                                </form>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="tab-content ml-1">
                                    <div class="edit-body">

                                        <form class="edit-box" action="/saveData" method="post">

                                            <div class="row">
                                                <div class="col-md-12 col-6">
                                                    <input type="text" name="newUsername" placeholder="New Username">
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 col-6">
                                                    <input type="text" name="newEmail" placeholder="New Email">
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12 col-6">
                                                    <input type="text" name="newDescription" placeholder="New Description">
                                                </div>
                                            </div>


                                            <div class="row">
                                                <div class="col-md-12 col-6">
                                                    <input type="submit" name="" value="Save Profile">
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>


    <script>
        function openNav() {
            document.getElementById("navbar").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("navbar").style.width = "0";
        }
    </script>

</body>
</html>