<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CeangalMessenger</title>
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>

    <%- include("partials/navbar") -%>



    <script>
        function openNav() {
            document.getElementById("navbar").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("navbar").style.width = "0";
        }
    </script>

</body>
</html>