<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>CeangalMessenger</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>

    <form class="login-box" action="/login" method="post">
        <h1>Log In</h1>
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" name="" value="Log In">
        <h4>or</h4>
        <a href="/signup" >Sign Up</a>
    </form>
</body>
</html>