<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CeangalMessenger</title>
    <link rel="stylesheet" href="/css/auth.css">
</head>
<body>

    <form class="auth-box" action="/signup" method="post">
        <h1>Sign Up</h1>
        <input type="email" name="email" placeholder="E-Mail">
        <input type="password" name="password1" placeholder="Password">
        <input type="password" name="password2" placeholder="Confirm Password">
        <input type="text" name="username" placeholder="Username">
        <input type="text" name="birthdate" placeholder="Birthdate" onfocus="(this.type='date')">
        <input type="text" name="description" placeholder="Description">
        <input type="submit" name="" value="Sign Up">
    </form>
</body>
</html>