/*body {*/
/*    padding-top: 30px;*/
/*}*/

.glyphicon {
    margin-bottom: 10px;
    margin-right: 10px;
}

small {
    display: block;
    line-height: 1.428571429;
}

#username {
    font-weight: 900;
    text-decoration: underline;
}

#descript {
    font-weight: 900;
    text-decoration: underline;
    font-size: medium;
}